@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');



.navbar {
    position: fixed;
    z-index: 100;
    overflow: hidden;
    margin: auto;
    /*   background-color:	#ecc9cd; */
    width: 100%;
    left:0;
    top:0;
}

.navbar li.logo,
.navbar li.navbar_items {
    list-style-type: none;
    display: inline-block;
}

.navbar li a {
    font-family: 'Megrim', cursive;
    font-size: 1.05em;
    font-weight: bolder;
    color: #fdffb6;
    display: inline-block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    background-color: rgba(63,66,56, 0.8);
}

.navbar li.navbar_items a:hover {
    border-bottom-style: solid;
    border-bottom-color: indianred;
    background-color: #210124;
    color: indianred;
    /*   padding-bottom: 5px; */
}

.navbar li.icon {
    display: none;
}

.div_navbar_items {
    float: right;
    padding-right:1%;

}

.intro{
    position: relative;
    top: 100px;
    text-align:center;
}



/* ----------------------- */


/* responsive navigation bar: CSS */




/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("navbar_name"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:875px) {
    .navbar li.navbar_items {
        display: none;
        padding-right: 30px;
    }
    .navbar li.icon {
        float: right;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 19px;
        padding-right: 20px;

    }
}


/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens */

@media screen and (max-width:875px) {
    .navbar.responsive {
        position:fixed;
        width: 100%;
        height: 100vh;
       /* background-color: rgba(12, 9, 29, 0.8);*/
        transition: background-color .6s;




    }

    .navbar.responsive li.logo {
        floatL: left;
        display: block;


    }
    .navbar.responsive .div_navbar_items {
        float: none;
        padding-right:0;
    }

    .navbar.responsive li.navbar_items {
        display: block;
        padding: 5px;
        font-size: 10px;

    }
    .navbar.responsive li.navbar_items a {
        display: block;
        text-align: center;
    }

    .navbar.responsive li.navbar_items a:hover{
        color:#17171e;
        border-bottom-color: transparent;


    }



}

/* end of navgation bar styling - responsive */

/* responsive navigation bar: CSS */


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("navbar_name"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:875px) {
    .navbar li.navbar_items {
        display: none;
    }
    .navbar li.icon {
        float: right;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 19px;

    }

    .menu {
        background-color: rgba(63,66,56, 0.8);
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0px;

    }
    .line {
        fill: none;
        stroke: #fdffb6;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }
    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }
    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

}




/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens */

@media screen and (max-width:875px) {
    .navbar.responsive {
        position:fixed;
        width: 100%;
        height: 100vh;
        background-color:  rgba(12, 9, 29, 0.8);
        transition: background-color .6s;

    }

    .navbar.responsive li.logo {
        floatL: left;
        display: block;
    }
    .navbar.responsive .div_navbar_items {
        float: none;
        padding-right:0;

    }

    .navbar.responsive li.navbar_items {
        display: block;
        padding: 10px;
        font-size: 25px;
    }
    .navbar.responsive li.navbar_items a {
        display: block;
        text-align: center;
    }

    .navbar.responsive li.navbar_items a:hover{
        color:#17171e;
        border-bottom-color: transparent;


    }



}

/* end of navgation bar styling - responsive */

/*Body*/
body {
    font-family: 'Megrim', cursive;

    background-color: #3f4238;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23646a53' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23fdffb6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");    color: white;
}



/* Hero */

#hero {
    height: 500px;
}

#hero .outer {
    height: 500px;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#hero .inner {
    height: 500px;
    background-color: #373839;
    background: linear-gradient(to bottom, rgb(220, 221, 222), #373839), url("../assets/img/4728289.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .inner:hover {
    background: linear-gradient(to bottom, #646A53, antiquewhite),url("../assets/img/4728289.jpg");
    animation: headShake;
    animation-duration: .5s;
}

#hero .title {
    color: white;
    font-size: 70px;
}

h2 {
    display: inline-block;
    padding: .3em;
    font-family: 'Megrim', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    user-select: none;
    transform: translate(-50%,-50%);
    color: #fdffb6;

    font-size: 67px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

}


#canvas{
    height: auto;
    width:  100%;

}

small {
    font-size: 40px;
    text-align: justify;
    color: #646A53;
}
/* Intro */

#intro {
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 13%;
    padding-right: 13%;
    background-color: #f0efeb;
    color: #646A53 ;
}

#intro .title {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}

#intro .text {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
}

#intro .social-link {
    margin-top: 15px;
}

#intro .social-link span {
    font-size: 14px;
}

#gallery {
    margin-top: 100px;
    padding-left: 13%;
    padding-right: 13%;



}


#gallery h1 {
    margin-bottom: 40px;
}

#gallery .project {
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display', serif;
    background-color: #a5a58d;
    border: #f0efeb 1px solid;



}

#gallery .project:hover {
    box-shadow: 1px 1px 5px #00000055;
    animation: pulse;
    animation-duration: .5s;

}

/*
#gallery .project:active {
  color: black;
}

#gallery .project:link {
  color: black;
}

#gallery .project:hover {
  color: black;
}

#gallery .project:visited {
  color: black;
}
*/

#gallery .project .img {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#gallery .project .img-1 {
    background-image: url("../assets/img/galleryimg.png");
}

#gallery .project .img-2 {
    background-image: url(../assets/img/NETFLIX.png);
}

#gallery .project .img-2:hover {
    background-image: url(../assets/img/NETFLIX.gif);
}

#gallery .project .img-3 {
    background-image: url(../assets/img/JCR.png);
}

#gallery .project .img-3:hover {
    background-image: url(../assets/img/JCR.gif);
}

#gallery .project .title {
    padding: 0;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

#gallery .project .detail {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Footer */

#footer {
    margin-top: 100px;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #0C091D;
    color: white;
    letter-spacing: .5px;
    font-size: 30px;
}

#footer .logo {
    padding-left: 5%;
    font-size: 16px;
    font-weight: bold;
    font-size: 30px;
}

#footer .data {
    padding-left: 5%;
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

#footer .data a {
    display: block;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
}

#footer .social {
    display: flex;
    justify-content: center;
}

#footer .social a {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.copyright {
    font-size: 12px;
}

