@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


#navbar {
    background:#646A53;
    height: 60px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#navbar .space {
    width: 10%;
    height: auto;
}

#navbar .logo {
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
}

#navbar .logo:hover {
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
}

body {
    font-family: 'Megrim', cursive;
    background-color: #3f4238;
    color: white;
}



/* Hero */

#hero {
    height: 500px;
}

#hero .outer {
    height: 500px;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#hero .inner {
    height: 500px;
    background-color: #373839;
    background: linear-gradient(to bottom, rgb(220, 221, 222), #373839), url("./assets/img/4728289.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .inner:hover {
    background: linear-gradient(to bottom, #646A53, antiquewhite),url("./assets/img/4728289.jpg");
    animation: headShake;
    animation-duration: .5s;
}

#hero .title {
    color: white;
    font-size: 70px;
}

h2 {
    display: inline-block;
    padding: .3em;
    font-family: 'Megrim', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    user-select: none;
    transform: translate(-50%,-50%);
    color: #fdffb6;

    font-size: 67px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

}


#canvas{
    height: auto;
    width:  100%;

}

small {
    font-size: 40px;
    text-align: justify;
    color: #646A53;
}
/* Intro */

#intro {
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 13%;
    padding-right: 13%;
    background-color: #f0efeb;
    color: #646A53;
}

#intro .title {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}

#intro .text {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
}

#intro .social-link {
    margin-top: 15px;
}

#intro .social-link span {
    font-size: 14px;
}

#gallery {
    margin-top: 100px;
    padding-left: 13%;
    padding-right: 13%;
}

#gallery h1 {
    margin-bottom: 40px;
}

#gallery .project {
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display', serif;
    background-color: #a5a58d;
    border: #f0efeb 1px solid;
}

#gallery .project:hover {
    box-shadow: 1px 1px 5px #00000055;
    animation: pulse;
    animation-duration: .5s;

}

/*
#gallery .project:active {
  color: black;
}

#gallery .project:link {
  color: black;
}

#gallery .project:hover {
  color: black;
}

#gallery .project:visited {
  color: black;
}
*/

#gallery .project .img {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#gallery .project .img-1 {
    background-image: url("#");
}

#gallery .project .img-2 {
    background-image: url(./assets/img/NETFLIX.png);
}

#gallery .project .img-2:hover {
    background-image: url(./assets/img/NETFLIX.gif);
}

#gallery .project .img-3 {
    background-image: url(./assets/img/JCR.png);
}

#gallery .project .img-3:hover {
    background-image: url(./assets/img/JCR.gif);
}

#gallery .project .title {
    padding: 0;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

#gallery .project .detail {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Footer */

#footer {
    margin-top: 100px;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #646A53;
    color: white;
    letter-spacing: .5px;
    font-size: 30px;
}

#footer .logo {
    padding-left: 5%;
    font-size: 16px;
    font-weight: bold;
    font-size: 30px;
}

#footer .data {
    padding-left: 5%;
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

#footer .data a {
    display: block;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
}

#footer .social {
    display: flex;
    justify-content: center;
}

#footer .social a {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}